<div class="branding">
  <!-- to be implemented -->
  <img class="logo" src="../../assets/logo.png" />
  <span class="branding-text">Chevron Carbon Footprint Tracker</span>
</div>

<div class="selection-area">
  <p style="margin-right: 5px">Select a car model:</p>

  <!-- To be implemented: -->
  <p-dropdown
    placeholder="Select a make"
    [options]="makes"
    (onChange)="onMakeSelect($event.value)"
  ></p-dropdown>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center">
  <div *ngFor="let singlePhoto of photos; index as idx" style="flex-basis: 20%">
    <p-card
      header="{{ selectedMake + ' ' + models[idx] }}"
      [style]="{
        width: '300px',
        height: '400px',
        margin: '20px'
      }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="{{ photos[idx] }}"
          style="height: 200px; object-fit: cover"
        />
      </ng-template>

      <ng-template pTemplate="p-card-content">
        <div>Emission: {{ emissions[idx].co2e_lb }} CO2/lb</div>
      </ng-template>
    </p-card>
  </div>
</div>
