@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

.logo {
  margin: 20px;
  width: 120px;
  height: 120px;
}

.branding {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
}

.selection-area {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  flex-direction: row;
}

.branding-text,
.getting-started {
  font-size: 30px;
  color: black !important;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: bold;
}

.getting-started {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0px !important;
}